.button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.round{
  border: 2px solid black;
  height: 45px;
  min-height: 45px;
  width: 45px;
  min-width: 45px;
  border-radius: 50%;
}