@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  /*font-family: "Funnel Sans", sans-serif;*/
  font-family: "Lexend", sans-serif;
  /*font-family: "Readex Pro", sans-serif;*/
}

.med{
  font-size: 2rem;
}
